.bus_container{
    background-color: #ffffff;
    padding-top: 130px;
    padding-bottom: 229px;
    display: flex;
    justify-content: center;
    font-family: 'Oxygen', sans-serif;
}
    
.box{
    background-color: #b87777;
    width: 70%;  
    height: 10vw;
    display: grid;
    grid-template-columns: 30% 15% 10% 15% 15% 15%;
    border: 2px solid black;
}

.box > span{
    position: relative;
    top: -80px;
    font-weight: bold;
    padding: 30px;
    font-size: 1.3vw;
}

.box>span>button{
    border: none;
    background-color: #b87777;
    font-weight: bold;
    font-size: 1.3vw;
    cursor: pointer;
}

.box > .head{
    font-weight: none;
    font-size: 1vw;
    color: aquamarine;
    position: relative;
    top: -80px;
}

.details{
    padding: 20px;
    height: 80px;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 1.5vw;
    display: flex;
}